.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image:  url("/images/football.jpg");
    background-size: cover;
    background-position: center bottom;
  
    &__content {
      padding: 45px;
      background: rgba(255,255,255,0.7);
      border: thin solid #909090;
      border-radius: 4px;
      font-size: 35px;  
    }
    &__top {
      text-align: center;
      margin-bottom: 50px;
      h2 {
        font-size: 28px;
        margin-bottom: 5px;
      }
      p {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.1px;
        opacity: 0.5;
      }
    }
  
    .button {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.1px;
      width: 100%;
    }

    .p_error{
      color:#f5222d;
      opacity: 1;
    }
  }